#tasks {
  display: flex;
  flex-direction: column;
}

.overlay-seeing-task {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* this moves it back by half its own width/height */
  width: 30vw;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(240, 240, 240);
  z-index: 1000;
  border-radius: 40px;
  border: 1px solid rgba(87, 87, 177, 0.512);
}